/* with css reset */
* { box-sizing: border-box; }
#b4{
  margin-left: 700px;
}
table {
   margin: 10px;
 }
 .center {
  margin-left: auto;
  margin-right: auto;
}
tr:first-child td {
	border-top-color: black;
}
tr:nth-child(3n) td {
	border-bottom-color: black;
}
td {
	border: 1px solid lightgrey;
	height: 40px;
	width: 40px;
  text-align: center;
  font-weight: 900;
  font-size: 23px;
}
td:first-child {
	border-left-color: black;
}
td:nth-child(3n) {
	border-right-color: black;
}
input {
	padding: 0;
	text-align: center;
	border: 0;
	height: 40px;
	width: 40px;
	text-align: center;
}

input:hover {
	background: #eee;
}
